<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <!-- <link rel="stylesheet" href="../public/css/index.css"> -->
</head>
<body>
<h2>User Profile</h2>

<p>Name : <%= name %></p>
<p>Age : <%= age %></p>

<% if (isAdmin) { %>
    <p>You have admin privileges.</p>
<% } %>

<% if (hobbies) { %>
    <p>Hobbies :</p>
    <ul>
        <% hobbies.map(hobby => { %>
            <li><%= hobby %></li>
        <% }); %>
    </ul>
<% } else { %>
    <p>No hobbies listed</p>
<% } %>

<% if(age > 18) { %>
    <p>You are eligible for adult services.</p>
<% } else { %>
        <p>You are not eligible</p>
<% } %>

<h3> Update User Data</h3>
<form action="/profile" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Name" value="<%= payload.name %>">
    
    <label for="age">Age:</label>
    <input type="number" name="age" placeholder="Age" value="<%= payload.age %>">
    
    <label for="isAdmin">Admin:</label>
    <input type="checkbox" name="isAdmin" <%= payload.isAdmin ? 'checked' : '' %>>
    
    <label for="hobbies">Hobbies:</label>
    <input type="text" name="hobbies" placeholder="Hobbies" value="<%= payload.hobbies ? payload.hobbies : '' %>">
    
    <button type="submit">Update</button>
</form>


</body>
</html>
